name: ci

on:
  push:
      branches:
      - main
  pull_request:
      branches:
      - main

jobs:
  java_build:
    strategy:
      matrix:
          java_version: ['17', '21']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'temurin'
          cache: maven
      - name: Build and test with JDK ${{ matrix.java_version }}
        run: mvn -B -U -T4C clean test ${{ matrix.included_modules }} -Dmaven.javadoc.skip=true surefire-report:report
      - name: Upload Surefire Reports with JDK ${{ matrix.java_version }}
        uses: actions/upload-artifact@v3
        with:
          name: surefire-reports
          path: '**/target/surefire-reports/*.xml'

